.bgimg{
    /* background-image: url("../assets/register.jpeg"); */
    /* background-image: url("../assets/reg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
}